.card-detail{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 3px solid black;
    border-radius:15px ;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 25px;
    position: relative;
}
.selected {
    background-color: #d4e3fc; /* Add styling to indicate selected item */
    cursor: pointer;
  }