<div class="main-container">
  <Form id="Filter-container" [formGroup]="RideSearchForm">
    <div class="Status-select select d-column">
      <label for="Status">Select Status</label>
      <select
        id="Status"
        name="Status"
        formControlName="Status"
        
      >
        <option value="" selected hidden>Select Status</option>

        <option value="Accepted">Accepted</option>
        <option value="Arrived">Arrived</option>
        <option value="Picked">Picked</option>
        <option value="Started">Started</option>
        <option value="Completed">Completed</option>
      </select>
    </div>
    <div class="Vehicle-select select d-column">
      <label for="Status">Select Vehicle</label>
      <select id="Type" name="Type" formControlName="Type" >
        <option value="" selected hidden>Select Vehicle</option>

        <option value="{{ Vehicle }}" *ngFor="let Vehicle of VehicleList">
          {{ Vehicle }}
        </option>
      </select>
    </div>

    <div class="Vehicle-select select d-flex">
      <div class="d-column">
        <label for="FromDate">From : </label>
        <input
          type="datetime-local"
          formControlName="FromDate"
          id="FromDate"
          
        />
      </div>
      <div class="d-column">
        <label for="toDate">To : </label>
        <input
          type="datetime-local"
          formControlName="toDate"
          id="toDate"
          
        />
      </div>
    </div>
    <div class="Vehicle-select select d-column">
      <label for="Search">Search </label>
      <input
        type="text"
        formControlName="Search"
        id="Search"
        placeholder="username , phone number, request id "
        
      />
    </div>
   
    <button
      type="button"
      
      style="background-color: #c5c4c4; color: black ; width: 100px; height:40px;margin-top: auto;"
      (click)="Filter()"
    >
      Apply
    </button>
  </Form>

  <div
    class="modal fade"
    id="staticBackdrop"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
    *ngIf="Ride"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="width: 750px">
          <div class="text-right">
            <i class="fa fa-close close" data-dismiss="modal"></i>
          </div>

          <div class="px-4 py-3">
            <div class="d-flex" style="flex-direction: column">
              <div class="d-row">
                <h4 class="theme-color" style="width: 120px">PickUp Point</h4>
                <p>{{ Ride?.PickupPoint }}</p>
              </div>
              <div class="d-flex" style="flex-direction: column">
                <div class="d-row my-1">
                  <h4 class="theme-color" style="width: 120px">Drop Point</h4>
                  <p>{{ Ride?.ScheduleTime }}</p>
                </div>
                <div class="d-row my-1">
                  <h4 class="theme-color" style="width: 120px">Stop Point</h4>
                  <p>{{ Ride?.Stops }}</p>
                </div>
              </div>

              <div class="mt-4 theme-color mb-4">
                <div>
                  BookingTime &nbsp; :
                  <span class="mx-2">{{ Ride?.BookingTime }}</span>
                </div>
                <div>
                  ScheduleTime :
                  <span class="mx-2">{{ Ride?.ScheduleTime }}</span>
                </div>
              </div>
              <div class="ct-table-container">
                <table class="table-city table table-striped">
                  <thead>
                    <th>Driver ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let driver of driverData; let i = index"
                      (click)="getTrData(i, driver)"
                      [ngClass]="{ 'selected-row': i === selectedRowIndex }"
                    >
                      <td>{{ driver._id }}</td>
                      <td>{{ driver.DriverName }}</td>
                      <td>{{ driver.DriverPhone }}</td>
                      <td>{{ driver.DriverEmail }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <span class="theme-color">Payment Summary</span>
              <div class="mb-3">
                <hr class="new1" />
              </div>

              <div class="d-flex justify-content-between">
                <span class="font-weight-bold">Distance</span>
                <span class="text-muted">{{ Ride?.Distance }}</span>
                <span class="font-weight-bold">Time</span>
                <span class="text-muted">{{ Ride?.Time }}</span>
              </div>

              <div class="d-flex justify-content-between">
                <span class="font-weight-bold">TripFee</span>
                <span class="text-muted">{{ +Ride?.TripFee }}</span>
              </div>

              <div class="d-flex justify-content-between">
                <small>Tax</small>
                <small>{{ +(Ride?.TripFee * 18) / 100 }}</small>
              </div>

              <div class="d-flex justify-content-between mt-3">
                <span class="font-weight-bold">Total</span>
                <span class="font-weight-bold theme-color">{{
                  +Ride?.TripFee + +(Ride?.TripFee * 18) / 100
                }}</span>
              </div>

              <div class="text-center mt-5">
                <button
                  type="button"
                  class="btn"
                  style="background-color: #6d7ae0; color: white"
                  (click)="AssignDriver(Ride)"
                >
                  Assign
                </button>
                | |
                <button
                  type="button"
                  class="btn"
                  style="background-color: #c5c4c4; color: black"
                >
                  Assign To Nearest Driver
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ct-table-container">
    <table class="table-city table table-striped">
      <thead>
        <tr>
          <th class="ellipsis">Ride ID</th>
          <th class="ellipsis">User ID</th>
          <th class="ellipsis">User Name</th>
          <th class="ellipsis">PickUp Point</th>
          <th class="ellipsis">Stops</th>
          <th class="ellipsis">Drop Point</th>
          <th class="ellipsis">Type</th>
          <th class="ellipsis">Booking Time</th>
          <th class="ellipsis">Schdule Time</th>
          <th class="ellipsis">Driver ID</th>
          <th class="ellipsis">Trip Fee</th>
          <th class="ellipsis">Status</th>
          <th style="min-width: 250px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Ride of RideList">
          <td class="ellipsis" title="{{ Ride._id }}">{{ Ride._id }}</td>
          <td class="ellipsis" title="{{ Ride.user_id }}">
            {{ Ride.user_id }}
          </td>
          <td class="ellipsis" title="{{ Ride.UserName }}">
            {{ Ride.UserName }}
          </td>
          <td class="ellipsis" title="{{ Ride.PickupPoint }}">
            {{ Ride.PickupPoint }}
          </td>
          <td class="ellipsis" title="{{ Ride.Stops }}">
            {{ Ride.Stops.split('","').length }}
          </td>
          <td class="ellipsis" title="{{ Ride.DropPoint }}">
            {{ Ride.DropPoint }}
          </td>
          <td class="ellipsis" title="{{ Ride.type }}">{{ Ride.type }}</td>
          <td class="ellipsis" title="{{ Ride.BookingTime }}">
            {{ Ride.BookingTime }}
          </td>
          <td class="ellipsis" title="{{ Ride.ScheduleTime }}">
            {{ Ride.ScheduleTime }}
          </td>
          <td class="ellipsis" title="{{ Ride.Driver }}">
            {{ Ride.Driver || "Assigning" }}
          </td>
          <td class="ellipsis" title="{{ Ride.TripFee }}">
            {{ Ride.TripFee }}
          </td>
          <td class="ellipsis" title="{{ Ride.Status }}">
            {{ Ride.Status }}
          </td>
          <td>
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-evenly;
              "
            >
              <button
                class="btn btn-primary"
                style="width: 70px; padding: 5px; background-color: #6d7ae0"
                (click)="OnAssign(Ride)"
                type="button"
                data-toggle="modal"
                data-target="#staticBackdrop"
              >
                Assign
              </button>
              <button
                class="btn btn-danger"
                style="width: 70px; padding: 5px"
                (click)="StatusChange(Ride._id, 'Cancel')"
              >
                Cancel
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
