p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  background-color: #5165ff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  background-color: #fff;
  border-color: #fff;
}
.d-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.close {
  color: #000;
  cursor: pointer;
}
.close:hover {
  color: #000;
}
.theme-color {
  color: #0d6efd;
}
hr.new1 {
  border-top: 2px dashed #fff;
  margin: 0.4rem 0;
}
table th {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}
select,
input {
  margin: 0px 30px;
  padding: 10px 20px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 250px;
  background-color: #6d7ae0;
  outline: none;
}
option {
  background-color: #fff;
}
select:hover option:hover {
  background-color: #6d7ae0;
}

.Btn {
  padding: 10px 20px;
  background-color: #6d7ae0;
  min-width: 100px;
  border-radius: 10px;
  font-size: larger;
}
#DownloadBtn {
  float: left;
  color: #fff;
  margin: 50px auto 0px 50px;
}
label {
  margin: auto 0px;
  font-size: 18px;
  width: 200px;
}

#popupTable thead th {
  margin: 5px 10px;
}
.ct-table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.table-city {
  width: 95%;
  background-color: white;
  font-weight: 600;
  margin: 20px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.table-city th {
  font-size: 15px;
  font-weight: bolder;
}
.table-city td,
.table-city th {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}
.ellipsisRow {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-city tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-city tbody tr:nth-child(odd) {
  background-color: #6068a500;
}

/* .ellipsisRow:hover:after {
  content: attr(title);
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
  background-color: #333;
  color: #fff;
  z-index: 9999;
} */



thead {
  background-color: #6d7ae0;
  height: 50px;
  color: white;
}
table {
  margin: 10px 50px;
}

#Filter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px auto;
}
.d-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.d-column label {
  margin: 5px 40px;
}
.selected-rowsss {
  background-color: #fd323254 !important; 
  /* color: darkgoldenrod; */
  /* font-size: 25px; */
  /* font-size: 30px; */
}

.paginationlink /deep/ .ngx-pagination .current {
  background: rgb(82, 133, 244);
  border-radius: 50%;
}

.paginationlink /deep/ .ngx-pagination {
  padding: 7px;
  margin: 7px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(82, 133, 244);
}

.paginationlink /deep/ .ngx-pagination .ng-star-inserted {
  text-decoration: none;
}
