<div class="container">
  <div
    class="city-container"
    style="
      max-width: 99%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    "
  >
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-width: 30vw;
      "
    >
      <div
        class="form-container"
        style="
          display: flex;
          flex-direction: column;
          margin: 0px;
          border: 1px solid black;
          padding: 40px 30px;
          justify-content: center;
        "
      >
        <div id="option-container">
          <label for="countrySelector" class="form-label">
            Select The Country</label
          >
          <select
            class="form-select countryOption"
            id="countrySelector"
            aria-label="Default select example"
            (change)="onCountrySelect()"
            #mySelect
            required
            [disabled]="IsEditMode"
          >
            <option  value="null" hidden selected>
              Select Country
            </option>

            <option
              value="{{ Country._id}}"
              *ngFor="let Country of ContryList"
            >
              {{ Country.countryname}}
            </option>
          </select>
        </div>
        <div class="city-inp-container">
          <label for="city" class="form-label"> Enter The City</label>

          <input
            type="text"
            id="city"
            name="city"
            class="form-control"
            placeholder="Enter The City"
            [readonly]="IsEditMode"
          />
        </div>
        <div class="btn-container">
          <button
            id="add-btn"
            class="btn btn-primary"
            (click)="onSubmit()"
            *ngIf="!IsEditMode"
          >
            Add
          </button>
          <button
            id="add-btn"
            class="btn btn-success"
            (click)="onSubmit()"
            *ngIf="IsEditMode"
          >
            Save
          </button>
          <button id="reset-btn" class="btn btn-danger" (click)="onReset()">Reset</button>
        </div>
      </div>
    </div>
    <div
      class="map-container d-flex justify-content-center"
      style="width: 35vw"
    >
      <div id="map"></div>
    </div>
  </div>



  <!-- <div class="d-flex justify-content-center">
    <span
      class="alert alert-danger"
      role="alert"
      style="margin: 0px auto"
      *ngIf="!changed && error"
      style="color: tomato"
      >{{ error }}</span
    >
  </div> -->

  <select
  [(ngModel)]="limit"
  style="width: 100px; float: right;  margin: 40px 50px 0px auto;"
  (change)="page=1;getAllZones()"
  >
  <option value="2">2</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="20">20</option>
</select>
  <div class="ct-table-container">
    <table class="tables">
      <thead>
        <tr>
          <th>Country</th>
          <th>City</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of Citylist | paginate : { itemsPerPage: +limit, currentPage: +page, totalItems: totalZones }">
          <td>{{ city.countryInfo.countryname }}</td>
          <td>{{ city.city }}</td>
          <td>
            <button class="btn btn-success" (click)="onEdit(city)">Edit</button>
            <!-- <button class="btn btn-danger" (click)="onDelete(city)">
              Delete
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="float: right; margin-right: 50px; margin: 0px 50px 40px auto">
    <pagination-controls
      class="paginationlink"
      (pageChange)="getAllZones($event)"
    ></pagination-controls>
  </div>
</div>
