* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
app-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 4rem;
  z-index: 2;
}

.w-256 {
  width: 256px;
  top: 4rem;

  transition: all 0.5s ease;
}

.w-78 {
  width: 78px;
  top: 4rem;
  transition: all 0.5s ease;
}
